<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Artsgram</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/_LayoutPost.css" asp-append-version="true" />
</head>

<body>

    <div class="container-2">
        <main role="main" class="pb-3">
            <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                <a class="navbar-brand" asp-controller="Posts" asp-action="Index">Arstgram</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                       
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Posts" asp-action="AddPost">Add Posts</a>
                        </li>
              
                    </ul>
                </div>

                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Posts" asp-action="logout">Logout</a>
                    </li>
                </ul>
            </nav>
            @RenderBody()
        </main>
    </div>





    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
